<!-- start custom footer snippets -->
<div style="width:100%;heigh:200px;overflow:auto;">
  <div style="float: left; width: 160px;heigh:200px;padding-right:30px;">Promoted by<br><img src="{{ base_path }}/images/logo-sbc.png"></div>
  <div style="float: left; width: 180px;heigh:200px;padding-right:30px;">Organized by<br><img src="{{ base_path }}/images/logo-unicamp.png"></div>
  <div style="float: left; heigh:200px;padding-right:30px;">Sponsored by<br>
    <div style="float: left; width: 350px;heigh:200px;padding-right:50px;"> <br><img src="{{ base_path }}/images/logo-google.png"></div>
    <div style="float: left; width: 350px;heigh:231px;padding-right:50px;"> <br><img src="{{ base_path }}/images/logo-movile.png"></div>
  </div>
</div>

<br style="width:100%;">

<!-- end custom footer snippets -->
